<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      {% assign posts=site.posts | where:"idName", page.idName | sort: 'path' %}
      {% assign pages=site.pages | where:"idName", page.idName | sort: 'path' %}
      <ul class="langswitch">

        {% comment %}
          If we are looking at a post, displays the selected language for it and the other language available
          If we are looking at a page, same logic, but only if it's not the index page
          If it's the index, displays the 2 languages available without any loop (because of paginator which creates multiple indexes)
        {% endcomment%}

        {% for post in posts %}
            <li class="lang">
                <a href="{{ post.url }}" class="{{ post.lang }}">
                  {% if post.lang == "en" %}
                    English
                  {% else if post.lang == "fr" %}
                    Français
                  {% endif %}
                </a>
            </li>
        {% endfor %}

        {% if page.id == "index" %}
          <li class="lang">
              <a href="/" class="en">English</a>
          </li>
          <li class="lang">
              <a href="/fr" class="fr">Français</a>
          </li>
        {% else %}
          {% for page in pages %}
              <li class="lang">
                  <a href="{{ page.url }}" class="{{ page.lang }}">
                  {% if page.lang == "en" %}
                    English
                  {% else if page.lang == "fr" %}
                    Français
                  {% endif %}
                  </a>
              </li>
          {% endfor %}
        {% endif %}
      </ul>
      <h1>
        <a href="{{ site.baseurl }}/">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      {% assign pages_list = site.pages | where:"lang", page.lang | sort: 'order' %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>