<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{ page.title | default: site.title }}</title>
    {% if page.excerpt %}<meta name="description" content="{{ page.excerpt | strip_html }}">{% endif %}
    {% if page.tags %}<meta name="keywords" content="{{ page.tags | join: ', ' }}">{% endif %}
    {% if site.author %}<meta name="author" content="{{ site.author }}" />{% endif %}

    <!-- Favicon -->
    <link rel="icon" href="img/core-img/favicon.png">

    <!-- Core Stylesheet -->
    <link href="style.css" rel="stylesheet">

    <!-- Responsive CSS -->
    <link href="css/responsive.css" rel="stylesheet">

    <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/mikfeamnecigfmgjpbeedlaakhgmnief">
</head>

<body>
    <!-- Installation modal -->
    <div class="modal" tabindex="-1" role="dialog" id="chrome-modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Installation en cours</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Google Chrome devrait te proposer d'installer l'extension directement. Si cela n'est pas le cas, il te suffit de <a href="https://chrome.google.com/webstore/detail/zoru/mikfeamnecigfmgjpbeedlaakhgmnief" target="_blank">cliquer ici</a> pour accéder au Chrome Web Store et l'installer.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Preloader Start -->
    <div id="preloader">
        <div class="colorlib-load"></div>
    </div>

    <!-- ***** Header Area Start ***** -->
    <header class="header_area animated">
        <div class="container-fluid">
            <div class="row align-items-center">
                <!-- Menu Area Start -->
                <div class="col-12">
                    <div class="menu_area">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <!-- Logo -->
                            <a class="navbar-brand" href="#">Zoru</a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ca-navbar" aria-controls="ca-navbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                            <!-- Menu Area -->
                            <div class="collapse navbar-collapse" id="ca-navbar">
                                <ul class="navbar-nav ml-auto" id="nav">
                                    <li class="nav-item"><a class="nav-link" href="#extension">L'extension</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#team">L'équipe</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#contact">Me contacter</a></li>
                                </ul>
                                <!--<div class="sing-up-button d-lg-none">
                                    <a href="#">Télécharger mon extension</a>
                                </div>-->
                            </div>
                        </nav>
                    </div>
                </div>
                <!-- Signup btn -->
                <!--<div class="col-12 col-lg-2">
                    <div class="sing-up-button d-none d-lg-block">
                        <a href="#">Télécharger mon extension</a>
                    </div>
                </div>-->
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** welcome Area Start ***** -->
    <section class="welcome_area clearfix" id="extension">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 col-md-7">
                    <div class="welcome-heading">
                        <h2>Zoru's Ultimate Web Extension</h2>
                        <h3>Z</h3>
                        <p>Pour suivre facilement mes activités et me soutenir</p>
                    </div>
                    <div class="app-download-area">
                        <div class="app-download-btn wow fadeInUp" data-wow-delay="0.2s">
                            <!-- Google Store Btn -->
                            <a href="#" id="app-download-button">
                                <i class="fa fa-chrome"></i>
                                <p class="mb-0"><span>Télécharger pour </span> Google Chrome</p>
                            </a>
                        </div>
                    </div>
                    <a href="" class="app-download-otherlink" id="app-download-otherlink" target="_blank">Aussi disponible pour Firefox</a>
                </div>
            </div>
        </div>
        <!-- Welcome thumb -->
        <div class="welcome-thumb wow fadeInDown" data-wow-delay="0.5s">
            <img src="img/bg-img/welcome-screen.png" alt="">
        </div>
    </section>
    <!-- ***** welcome Area End ***** -->

    <!-- ***** Special Area Start ***** -->
    <section class="special-area bg-white section_padding_100_50" id="about">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section Heading Area -->
                    <div class="section-heading text-center">
                        <h2>Pourquoi cela va <span class="section-heading-smalltext">(peut-être, éventuellement)</span> changer ta vie</h2>
                        <div class="line-shape"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Single Special Area -->
                <div class="col-12 col-md-4">
                    <div class="single-special text-center wow fadeInUp" data-wow-delay="0.2s">
                        <div class="single-icon">
                            <i class="ti-gift" aria-hidden="true"></i>
                        </div>
                        <h4>C'est gratuit !</h4>
                        <p>C'est donc pas cher</p>
                    </div>
                </div>
                <!-- Single Special Area -->
                <div class="col-12 col-md-4">
                    <div class="single-special text-center wow fadeInUp" data-wow-delay="0.4s">
                        <div class="single-icon">
                            <i class="ti-comment" aria-hidden="true"></i>
                        </div>
                        <h4>Des notifications !</h4>
                        <p>Tu peux être prévenu dans la minute lorsque je sors une vidéo YouTube ou lance un live Twitch. Le moyen idéal pour me traquer légalement</p>
                    </div>
                </div>
                <!-- Single Special Area -->
                <div class="col-12 col-md-4">
                    <div class="single-special text-center wow fadeInUp" data-wow-delay="0.6s">
                        <div class="single-icon">
                            <i class="ti-heart" aria-hidden="true"></i>
                        </div>
                        <h4>Du soutien</h4>
                        <p>En installant cette extension, tu soutiens mon travail à temps plein en tant que vidéaste et je t'en remercie beaucoup !</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Special Area End ***** -->

    <!-- ***** Video Area Start ***** -->
    <div class="video-section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Video Area Start -->
                    <div class="video-area" style="background-image: url(img/bg-img/video-thumbnail.png);">
                        <div class="video-play-btn">
                            <a href="https://youtu.be/jGXdA66rSzc" class="video_btn"><i class="fa fa-play" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Video Area End ***** -->

    <!-- ***** Cool Facts Area Start ***** -->
    <section class="cool_facts_area clearfix">
        <div class="container">
            <div class="row">
                <!-- Single Cool Fact-->
                <div class="col-12 col-md-3 col-lg-3">
                    <div class="single-cool-fact d-flex justify-content-center wow fadeInUp" data-wow-delay="0.2s">
                        <div class="counter-area">
                            <h3><span class="counter">36</span></h3>
                        </div>
                        <div class="cool-facts-content">
                            <i class="fa fa-hourglass-end"></i>
                            <p>ans de <br> développement</p>
                        </div>
                    </div>
                </div>
                <!-- Single Cool Fact-->
                <div class="col-12 col-md-3 col-lg-3">
                    <div class="single-cool-fact d-flex justify-content-center wow fadeInUp" data-wow-delay="0.4s">
                        <div class="counter-area">
                            <h3><span class="counter">863</span></h3>
                        </div>
                        <div class="cool-facts-content">
                            <i class="fa fa-coffee"></i>
                            <p>cafés <br> consommés</p>
                        </div>
                    </div>
                </div>
                <!-- Single Cool Fact-->
                <div class="col-12 col-md-3 col-lg-3">
                    <div class="single-cool-fact d-flex justify-content-center wow fadeInUp" data-wow-delay="0.6s">
                        <div class="counter-area">
                            <h3><span class="counter">300</span></h3>
                        </div>
                        <div class="cool-facts-content">
                            <i class="fa fa-eur"></i>
                            <p>millions <br> investis</p>
                        </div>
                    </div>
                </div>
                <!-- Single Cool Fact-->
                <div class="col-12 col-md-3 col-lg-3">
                    <div class="single-cool-fact d-flex justify-content-center wow fadeInUp" data-wow-delay="0.8s">
                        <div class="counter-area">
                            <h3><span class="counter">0</span></h3>
                        </div>
                        <div class="cool-facts-content">
                            <i class="fa fa-user-secret"></i>
                            <p>information <br>exagérée</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Cool Facts Area End ***** -->

    <!-- ***** Our Team Area Start ***** -->
    <section class="our-Team-area bg-white section_padding_0_50 clearfix" id="team">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <!-- Heading Text  -->
                    <div class="section-heading">
                        <h2>L'équipe</h2>
                        <div class="line-shape"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="single-team-member">
                        <div class="member-image">
                            <img src="img/team-img/team-1.png" alt="">
                            <div class="team-hover-effects">
                                <div class="team-social-icon">
                                    <a href="https://www.facebook.com/Zoruninho"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    <a href="https://www.twitter.com/Zoruninho"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    <a href="https://www.instagram.com/zoru_insta"> <i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="member-text">
                            <h4>Zoruninho</h4>
                            <p>Fondateur</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="single-team-member">
                        <div class="member-image">
                            <img src="img/team-img/team-2.jpg" alt="">
                            <div class="team-hover-effects">
                                <div class="team-social-icon">
                                    <a href="https://www.facebook.com/Zoruninho"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    <a href="https://www.twitter.com/Zoruninho"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    <a href="https://www.instagram.com/zoru_insta"> <i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="member-text">
                            <h4>Zoruasmr</h4>
                            <p>Co-fondateur</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="single-team-member">
                        <div class="member-image">
                            <img src="img/team-img/team-3.jpg" alt="">
                            <div class="team-hover-effects">
                                <div class="team-social-icon">
                                    <a href="https://www.facebook.com/Zoruninho"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    <a href="https://www.twitter.com/Zoruninho"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    <a href="https://www.instagram.com/zoru_insta"> <i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="member-text">
                            <h4>Young Zoruninho</h4>
                            <p>Gestion de la mentalité</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="single-team-member">
                        <div class="member-image">
                            <img src="img/team-img/team-4.jpg" alt="">
                            <div class="team-hover-effects">
                                <div class="team-social-icon">
                                    <a href="https://www.facebook.com/Zoruninho"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    <a href="https://www.twitter.com/Zoruninho"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    <a href="https://www.instagram.com/zoru_insta"> <i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="member-text">
                            <h4>Young Zoruasmr</h4>
                            <p>CEO of Charism Department</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Our Team Area End ***** -->

    <!-- ***** Contact Us Area Start ***** -->
    <section class="footer-contact-area section_padding_100 clearfix" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <!-- Heading Text  -->
                    <div class="section-heading">
                        <h2>Tu peux aussi me contacter !</h2>
                        <div class="line-shape"></div>
                    </div>
                    <div class="footer-text">
                        <p>Je suis disponible via le formulaire à droite ou tous les réseaux sociaux disponibles plus bas. Je réponds en général dans la semaine !</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <!-- Form Start-->
                    <div class="contact_from">
                        <form action="https://formspree.io/zoruasmr@gmail.com" method="post">
                            <!-- Message Input Area Start -->
                            <div class="contact_input_area">
                                <div class="row">
                                    <!-- Single Input Area Start -->
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="name" id="name" placeholder="Ton nom (ou pseudo)" required>
                                        </div>
                                    </div>
                                    <!-- Single Input Area Start -->
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="email" class="form-control" name="email" id="email" placeholder="E-mail" required>
                                        </div>
                                    </div>
                                    <!-- Single Input Area Start -->
                                    <div class="col-12">
                                        <div class="form-group">
                                            <textarea name="message" class="form-control" id="message" cols="30" rows="4" placeholder="Message" required></textarea>
                                        </div>
                                    </div>
                                    <!-- Single Input Area Start -->
                                    <div class="col-12">
                                        <button type="submit" class="btn submit-btn">Envoyer</button>
                                    </div>
                                </div>
                            </div>
                            <!-- Message Input Area End -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Contact Us Area End ***** -->

    <!-- ***** Footer Area Start ***** -->
    <footer class="footer-social-icon text-center section_padding_70 clearfix">
        <!-- footer logo -->
        <div class="footer-text">
            <h2>Allez viens, on est bien !</h2>
        </div>
        <!-- social icon-->
        <div class="footer-social-icon">
            <a href="https://www.facebook.com/Zoruninho" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="https://www.twitter.com/Zoruninho" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="https://www.instagram.com/zoru_insta" target="_blank"> <i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href="https://www.snapchat.com/add/zoruninho" target="_blank"><i class="fa fa-snapchat" aria-hidden="true"></i></a>
        </div>
        <!--<div class="footer-menu">
            <nav>
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Terms &amp; Conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </div>-->
        <!-- Foooter Text-->
        <div class="copyright-text">
            <p>Copyright ©2020 Zoru
        </div>
    </footer>
    <!-- ***** Footer Area Start ***** -->

    <!-- Jquery-2.2.4 JS -->
    <script src="js/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/popper.min.js"></script>
    <!-- Bootstrap-4 Beta JS -->
    <script src="js/bootstrap.min.js"></script>
    <!-- All Plugins JS -->
    <script src="js/plugins.js"></script>
    <!-- Footer Reveal JS -->
    <script src="js/footer-reveal.min.js"></script>
    <!-- UA Parser JS -->
    <script src="js/ua-parser.min.js"></script>
    <!-- Download Button JS -->
    <script src="js/download-button.js"></script>
    <!-- Active JS -->
    <script src="js/active.js"></script>
</body>

</html>
